#count {
  display: inline;
  font-weight: bold;
  padding-left: 5px;
}

#logo {
  height: 200px;
  width: 200px;
  /* background-image: url('../assets/holberton-logo.jpg'); */
  background-size: 200px 200px;
}
